

<table id="servicesTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Services</th>
                <th>Address</th>
                <th>Rating</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Services</th>
                <th>Address</th>
                <th>Rating</th>
                <th></th>
            </tr>
        </tfoot>
    </table>