<link rel="stylesheet" type="text/css" href="/assets/css/steps.css">

<form id="regForm" action="" class="p-5 bg-white">

  <div class="tab">
    <h1>What <span id='sname'></span> services do you need?</h1>
    <div id='workitems'>

    </div>
  </div>
  <div id='specificstab' class="tab">
    <h1>Please select the specifics: </h1>
    <div id='specifics' >
    </div>
  </div>
  <div class="tab">
    <h1>Schedule: </h1>
    <div class="row">
      <div class="form-group col">
        <label class="font-weight-bold" for="fullname">Preffered Date</label>
        <input name="date" id="date" type="date" class="form-control" required>
      </div>
      <div class="form-group col">
        <label class="font-weight-bold" for="email">Start Time</label>
        <input name="from" id="time" type="time" class="form-control" required>
      </div>
      <div class="form-group col">
        <label class="font-weight-bold" for="email">End Time</label>
        <input name="to" id="time" type="time" class="form-control" required>
      </div>
    </div>
  </div>
  <div style="overflow:auto;">
    <div style="float:right;">
      <button  class="btn btn-primary" ype="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button class="btn btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>

  <!-- Circles which indicates the steps of the form: -->
  <div id="steps" style="text-align:center;margin-top:40px;">
  </div>

</form> 
