<div class="modal fade rating-modal" tabindex="-1" role="dialog" aria-labelledby="rating-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>